<div class="error-container">
  <h1>😿 Oops!</h1>
  <h2><%= errorMessage %></h2>
  <p>We couldn't find what you're looking for.</p>

  <div style="margin-top: 30px;">
    <a href="/" class="button">Go to Home</a>
    <a href="/courses" class="button-secondary">Browse Courses</a>
  </div>
</div>
