<div class="container">
  <div class="col-sm-6">
    <img src="/images/cat.jpg" alt="Error cat">
  </div>
  <div class="col-sm-6">
    <h1>Oops! 😿</h1>
    <p><%= errorMessage %></p>
    <p>
      <a href="/" class="button">Go to Home</a>
    </p>
  </div>
</div>
